.features {
background-color: #1F1C1D;
	text-align: center;
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 140px 110px 140px;
	}

	&__title {
	}
	&__points {
		position: relative;
		height: 53%;
		width: 53%;
		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			top: 14%;
		}
		&::before {
			width: 84%;
			height: 69.5%;
			border-radius: 50%;
			background: #000;
		}
		&::after {
			top: 7%;
			width: 100%;
			height: 83%;
			border: 1px solid #A07B50;
			border-radius: 50%;
			
		}
		img {
			z-index: 5;
		}
	}
	&__text {
		max-width: 735px;
		margin-top: 25px;
	}

	&__list {
	}

	&__item {
		width: 30%;
		position: absolute;
		@include adaptiv-font(16, 14);
		&-first {
			margin-left: -7%;
			left: 0;
			top: 30%;
		}
		&-second {
			bottom: 28%;
			margin-left: -56%;
		}
		&-third {
			top: 39%;
			right: 0;
			margin-right: -8%;
			
		}
		&-fourth {
			right: 0;
			margin-right: -6%;
			bottom: 30%;
		}
	}
}
.features {
	&__img {
		position: relative;
		width: 100%;
	}
	&__img-wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: relative;
	}
}
@media(max-width: $md3) {

	.features {

		&__container {
			padding: 45px 90px 90px 90px;
		}

		&__title {
		}

		&__text {
			margin-bottom: 40px;
			max-width: 443px;
		}

		&__img-wrap {
		}

		&__img {
		}

		&__list {
		}

		&__item {
		}

		&__item-first {
		}

		&__item-second {
		}

		&__item-third {
		}

		&__item-fourth {
		}
}

}
@media(max-width: $md4) {
	.features {

		&__container {
			padding: 30px 25px 60px 25px;
		}

		&__title {
		}

		&__text {
		}

		&__img-wrap {
			max-width: 300px;
		}

		&__img {
		}

		&__list {
			text-align: left;
		}
		&__points {
			width: 100%;
			height: 100%;
			position: relative;
		}

		&__item {
			position: relative;
			width: auto;
			max-width: 250px;
			margin: 0;
			margin-top: 10px;
			text-align: left;
			margin-left: 10px;
			&::after,
			&::before {
				width: 8px;
				height: 8px;
			}
		}
		&__item-first {
			&::after {
				left:-18px;
				top:4px;
			}
		}
		&__item-second {
			&::after {
				left:-18px;
				top:4px;
			}
		}
		&__item-third {
			&::before {
				left:-18px;
				top:4px;
			}
		}
		&__item-fourth {
			&::before {
				left:-18px;
				top:4px;
			}
		}
}
}