.footer {
background-color: #151313;
		&__container {
			padding: 70px 0 50px 0;
		}

		&__wrap {
			padding: 0 50px ;
			margin: auto;
			max-width: 850px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__decor {
		}

		&__social-list {
			display: flex;

		}

		&__social-item {
			margin-right: 12px;
			svg {
				transform: scale(1.5);
			}
			path {
				fill: #A07B50;
			}
			&:hover {
				path {
					fill: #fff;
				}
			}
		}

		&__social-link {
		}

		&__address {
			font-size: 14px;
			line-height: 189%;
			font-weight: normal;
			margin-left: 40px;
		}

		&__phone {
			font-size: 14px;
			line-height: 189%;
			font-weight: 700;
		}
}
@media (max-width: $md3) {
	.footer {
		&__container {

		}

		&__wrap {

		}

		&__decor {
			display: none;
		}
}
}
@media (max-width: $md4) {
	.footer {

		&__container {
			padding: 40px 0;
		}

		&__wrap {
			flex-direction: column;
		}

		&__decor {
			order: 2;
			display: block;
			margin-top: 25px;
		}

		&__social-list {
			margin-top: 25px;
			order: 1;
		}

		&__social-item {
			&:last-child {
				margin: 0;
			}
		}

		&__social-link {
		}

		&__address {
			margin: 0;
		}

		&__phone {
			margin-top: 15px;
		}
}
}