.our-advantages {
	text-align: center;
background-color: #151313;
	&__container {
		padding: 80px 110px 100px 110px;
	}

	&__title {
	}

	&__text {
		margin-top: 20px;
	}

	&__list {
	}
}
.cards {
	display: flex;
	justify-content: space-between;
	&__item {
		margin-top: 30px;
		padding: 20px;
		flex: 0 0 31%;
		background-color: #1F1C1D;
	}

	&__link {
		padding: 8% 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: #A07B50;
			svg {
				stroke: #fff;
				fill: #fff;
			}
		}
	}
	svg {
		fill: #fff;
	}
	&__text {
		max-width: 255px;
		margin-top: 45px;
		color: #fff;
	}
}

@media (max-width: $md3) {
	.our-advantages {

		&__container {
			padding: 85px 200px 100px 200px;
		}

		&__title {
		}

		&__text {
		}

		&__list {
		}
}
.cards {
	align-items: center;
	flex-direction: column;
		&__item {
			margin-top: 45px;
			max-width: 360px;
		}

		&__link {
		}

		&__text {
		}
}
}
@media (max-width: $md4) {
	.our-advantages {

		&__container {
			padding: 60px 15px 60px 15px;
		}

		&__title {
		}

		&__text {
		}

		&__list {
		}
}
.cards {

		&__item {
			margin-top: 30px;
			max-width: 290px;
		}

		&__link {
		}

		&__text {
			@include adaptiv-font(16, 14);
		}
}

}