.pets {
overflow: hidden;
	text-align: center;
background-color: #1F1C1D;
	&__container {
		position: relative;
		padding: 223px 150px 40px 150px;
		display: flex;
		flex-direction: column;
	}

	&__title {
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	&__text {
		margin-top: 23px;
		max-width: 510px;
	}

	&__slider {
	}

	&__button {
		align-self: center;
	}
}
.slider {

	&__switcher {
		display: flex;
		justify-content: space-between;
		min-width: 250px;
		margin-top: 35px;
		margin-bottom: 30px;
	}

	&__switch {

	}

	&__switch-btn {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		opacity: 0.2;
		background-color: transparent;
		&-active {
			opacity: 1;
		}
	}
}
.swiper-wrapper {

}
.slider-pets {
display: none;
	&__body {

	}

	&__item {

	}


	&__controls {
		span {

		}
	}

	&__controls-before {
	}
	&__controls-next {
	}
}

.pets-desktop {
	&__item-1 {
		grid-area: c;
	}

	&__item-2 {
		grid-area: b;
	}

	&__item-3 {
		grid-area: i;
	}
}
.pets-desktop {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "i c"
	"b c";
	grid-gap: 30px;
	&__item {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__item-1 {
	}

	&__item-2 {
	}

	&__item-3 {
	}
}


@media(max-width: $md3) {
.pets {

		&__container {
		}

		&__wrap {
		}

		&__title {
		}

		&__text {
		}

		&__slider {
		}

		&__button {
		}
}
.slider {

		&__switcher {
		}

		&__switch {
		}

		&__switch-btn {
		}

		&__switch-btn-active {
		}
}
.slider-pets {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 5%;
		&__body {
			padding: 20% 0;
		}

		&__item {

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__item-1 {
		}


		&__item-2 {
		}

		&__item-3 {
		}

		&__control-before {
			z-index: 2;
			position: absolute;
			left: 0;
			top: 50%;
			width: 12px;
			height: 30px;
			background: url("../img/throw-left.svg") 0 0 no-repeat;
			cursor: pointer;
		}

		&__control-next {
			z-index: 2;
			position: absolute;
			display: block;
			right: 0;
			top: 50%;
			width: 12px;
			height: 30px;
			background: url("../img/throw-left.svg") 0 0 no-repeat;
			transform: rotate(180deg);
			cursor: pointer;
		}
}
.pets-desktop {
	display: none;
	&__item {
		
	}

	&__item-1 {
	}

	&__item-2 {
	}

	&__item-3 {
	}
}
.swiper-slide {

}
.swiper-slide-active {
	height: 100% !important;
	z-index: 10;
 transition: 0.5s;
 transform: scale(2.2);
 img {

 }
}
.swiper-wrapper {
	height: 100% !important;
	align-items: center !important;
}
}
@media(max-width: $md4) {
	.pets {

		&__container {
			padding: 60px 15px 30px 15px ;
		}

		&__wrap {
		}

		&__title {
		}

		&__text {
		}

		&__slider {
		}

		&__button {
		}
}

.slider {

		&__switcher {
		}

		&__switch {
		}

		&__switch-btn {
		}

		&__switch-btn-active {
		}
}
.slider-pets {
	padding: 0 20px;
		&__body {
			padding: 0;
		}

		&__item {
			
		}

		&__item-1 {
		}

		&__img {
		}

		&__item-2 {
		}

		&__item-3 {
		}

		&__controls {
		}

		&__control-before {
			left: 0;
		}

		&__control-next {
			right: 0;
		}
}
.swiper-slide-active {
	height: 100% ;
	z-index: 10;
 transition: 0;
 transform: scale(1);
 img {

 }
}
.swiper-wrapper {
	height: 100% ;
	align-items: center ;
}
}